#textdomain wesnoth-Bad_Moon_Rising

[about]
    images=story/BMRtundra.jpg,misc/BMRtent.jpg,story/BMRsemaphore.jpg,misc/BMRexplosion.png
[/about]
[about]
    title= _ "Author"
    [entry]
        name = "doofus-01"
        comment = "..."
    [/entry]
[/about]
[about]
    title= _ "Special Thanks To:"
    [entry]
        name = "Jeremy Nichols (triumph.ogg)"
        comment = "..."
    [/entry]
    [entry]
        name = "Blake Ewing (gathering_storm.ogg)"
        comment = "..."
    [/entry]
    [entry]
        name = "Espreon"
        comment = "string clean-up and subversioning"
    [/entry]
    [entry]
        name = "Wesnoth Developers, Musicians & Artists"
    [/entry]
    [entry]
        name = "Play-testers reporting at forum.wesnoth.org"
    [/entry]
[/about]
