#textdomain wesnoth-Bad_Moon_Rising

[about]
    images=story/BMRtundra.jpg,misc/BMRsermon.jpg,story/BMRsemaphore.jpg,misc/BMRdeadchimera.jpg
[/about]
[about]
    title= _ "Author"
    [entry]
        name = "doofus-01"
        comment = "..."
    [/entry]
[/about]
[about]
    title= _ "Special Thanks To (forum.wesnoth.org names):"
    [entry]
        name = "kitty"
        text =_  "advice & old archer portrait"
        comment = "advice & old archer portrait"
    [/entry]
    [entry]
        name = "Cernunnos"
        comment = "touch-ups to some story images"
    [/entry]
    [entry]
        name = "Jeremy Nichols (triumph.ogg)"
        comment = "..."
    [/entry]
    [entry]
        name = "Blake Ewing (gathering_storm.ogg)"
        comment = "..."
    [/entry]
    [entry]
        name = "Espreon"
        comment = "string clean-up and subversioning"
    [/entry]
    [entry]
        name = "Wesnoth Developers, Musicians & Artists"
    [/entry]
    [entry]
        name = "Play-testers reporting at forum.wesnoth.org"
    [/entry]
[/about]
