#textdomain wesnoth-Bad_Moon_Rising
[unit_type]
    id=BMR_Ghost_Outlaw
    name= _ "Ghost Outlaw"
    race=bmr_ghost
    gender=male,female
    image="units/human-outlaws/outlaw.png~GS()~O(0.4)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    profile="portraits/humans/outlaw.png~GS()~O(0.3)"
    hitpoints=40
    movement_type=undeadspirit
    movement=8
    level=2
    alignment=chaotic
    experience=77
    advances_to=BMR_Ghost_Fugitive
    cost=28
    usage=mixed fighter
    description= _ "..."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-outlaws/outlaw-defend.png~GS()~O(0.2)" "units/human-outlaws/outlaw.png~GS()~O(0.4)" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=mace-spiked
        description={STR_MACE}
        type=impact
        range=melee
        damage=8
        number=2
    [/attack]
    [attack]
        name=sling
        description={STR_SLING}
        type=impact
        range=ranged
        damage=6
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sling
        [/filter_attack]
        offset=0.0
        alpha=0.4~0.2:300,0.2~0.5:150
        image_mod="~GS()"
        [if]
            hits=yes
            {MISSILE_FRAME_STONE_HIT 5 -6}
            [frame]
                begin=-400
                end=-150
                image="units/human-outlaws/outlaw-attack1.png"
                sound=sling.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            {MISSILE_FRAME_STONE_MISS 5 -6}
            [frame]
                begin=-400
                end=-150
                image="units/human-outlaws/outlaw-attack1.png"
                sound=sling-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-150
            end=50
            image="units/human-outlaws/outlaw-attack2.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=mace-spiked
        [/filter_attack]
        image_mod="~GS()"
        alpha=0.4~0.1:200,0.1~0.4:200
        [frame]
            begin=-200
            end=-100
            image="units/human-outlaws/outlaw-melee-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/human-outlaws/outlaw-melee-2.png"
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/human-outlaws/outlaw-melee-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=50
            end=150
            image="units/human-outlaws/outlaw-melee-3.png"
        [/frame]
    [/attack_anim]
    [female]
        name= _ "female^Outlaw"
        gender=female
        image="units/human-outlaws/outlaw+female.png~GS()~O(0.4)"
        profile="portraits/humans/outlaw+female.png~GS()~O(0.3)"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/human-outlaws/outlaw+female-defend.png~GS()~O(0.2)" "units/human-outlaws/outlaw+female.png~GS()~O(0.4)" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        [attack_anim]
            [filter_attack]
                name=sling
            [/filter_attack]
            alpha=0.4~0.2:300,0.2~0.5:150
            image_mod="~GS()"
            [if]
                {MISSILE_FRAME_STONE_HIT 5 -6}
                [frame]
                    image="units/human-outlaws/outlaw+female-attack1.png"
                [/frame]
            [/if]
            [else]
                {MISSILE_FRAME_STONE_MISS 5 -6}
                [frame]
                    image="units/human-outlaws/outlaw+female-attack1.png"
                [/frame]
            [/else]
            [frame]
                image="units/human-outlaws/outlaw+female-attack2.png"
            [/frame]
        [/attack_anim]
        [attack_anim]
            [filter_attack]
                name=mace-spiked
            [/filter_attack]
            image_mod="~GS()"
            alpha=0.4~0.1:200,0.1~0.4:200
            [frame]
                image="units/human-outlaws/outlaw+female-melee-1.png"
            [/frame]
            [if]
                [frame]
                    image="units/human-outlaws/outlaw+female-melee-2.png"
                [/frame]
            [/if]
            [else]
                [frame]
                    image="units/human-outlaws/outlaw+female-melee-2.png"
                [/frame]
            [/else]
            [frame]
                image="units/human-outlaws/outlaw+female-melee-3.png"
            [/frame]
        [/attack_anim]
    [/female]
#ifdef __UNUSED__
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        [frame]
            begin=0
            end=100
            image="units/human-outlaws/outlaw-idle-1.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/human-outlaws/outlaw-idle-7.png"
        [/frame]
        [frame]
            begin=200
            end=300
            image="units/human-outlaws/outlaw-idle-5.png"
        [/frame]
        [frame]
            begin=300
            end=400
            image="units/human-outlaws/outlaw-idle-4.png"
        [/frame]
        [frame]
            begin=400
            end=500
            image="units/human-outlaws/outlaw-idle-3.png"
        [/frame]
        [frame]
            begin=500
            end=600
            image="units/human-outlaws/outlaw-idle-2.png"
        [/frame]
        [frame]
            begin=600
            end=700
            image="units/human-outlaws/outlaw-idle-1.png"
        [/frame]
        [frame]
            begin=700
            end=800
            image="units/human-outlaws/outlaw-idle-6.png"
        [/frame]
        [frame]
            begin=800
            end=900
            image="units/human-outlaws/outlaw-idle-5.png"
        [/frame]
        [frame]
            begin=900
            end=1400
            image="units/human-outlaws/outlaw-idle-4.png"
        [/frame]
        [frame]
            begin=1400
            end=1500
            image="units/human-outlaws/outlaw-idle-3.png"
        [/frame]
        [frame]
            begin=1500
            end=1600
            image="units/human-outlaws/outlaw-idle-2.png"
        [/frame]
        [frame]
            begin=1600
            end=1700
            image="units/human-outlaws/outlaw-idle-1.png"
        [/frame]
    [/idle_anim]
#endif
[/unit_type]
