#textdomain wesnoth-Bad_Moon_Rising

#define WEAPON_SPECIAL_ACCURACY LEVEL
    # Canned definition of the Marksman ability to be included in a
    # [specials] clause.
    [chance_to_hit]
        id=accuracy_ws{LEVEL}
        name= _ "accuracy"
        description= _ "This attack is slightly more accurate than other attacks."
        special_note= _ "This unit’s attack is slightly more accurate than other attacks."
        add={LEVEL}
        priority=-15
    [/chance_to_hit]
#enddef
