# wmllint: no translatables

#define CARGHANNA_GREEN_IMAGE
    image=portraits/carghanna.webp~CS(-120,150,50)~O(0.6)
#enddef

#define BMR_GHOST_BLUE_PROFILE
~O(0.6)~GS()~CS(-45,15,65)~BLEND(140,205,255,0.4)#enddef

#define BMR_GHOST_BLUE_SPRITE
~O(0.5)~GS()~CS(-45,10,70)#enddef
