# this is loaded directly in the [campaign] toplevel [event]
# #textdomain wesnoth-Bad_Moon_Rising

[event]
    name=prestart
    priority=4 # this is a new feature (1.17.20+), so I'm not sure what a good value is
    [event]
        name=start # because 'unit placed' does not cover all units on the map at start
        [modify_unit]
            [filter]
                [not]
                    [filter_wml]
                        [variables]
                            glob_on_total_xp=*
                        [/variables]
                    [/filter_wml]
                [/not]
            [/filter]
            [set_variable]
                name = total_xp
                value = 0
            [/set_variable]
        [/modify_unit]
    [/event]
    [event]
        name=unit placed
        priority=2
        first_time_only=no
        # something is not working here, unit placed is not enough for start of scenario, see above
        [filter]
            [not]
                [filter_wml]
                    [variables]
                        glob_on_total_xp=*
                    [/variables]
                [/filter_wml]
            [/not]
        [/filter]
        [set_variable]
            name = unit.variables.total_xp
            value = 0
        [/set_variable]
        [unstore_unit]
            variable=unit
            find_vacant=no
        [/unstore_unit]
    [/event]
    [event]
        name=pre advance
        first_time_only=no
        [filter]
        [/filter]
        # id with a space causes issues
        # try underlying_id? + x
        [set_variable]
            name = xp_TMP.u_$unit.x|_$unit.underlying_id|
            value = $unit.max_experience
        [/set_variable]
        # a second event in case advancement gets aborted somehow
        [event]
            name=post advance
            first_time_only=no
            [filter]
            [/filter]
            [modify_unit]
                [filter]
                    id=$unit.id
                [/filter]
                [set_variable]
                    name = total_xp
                    add = $xp_TMP[0].u_$unit.x|_$unit.underlying_id|
                [/set_variable]
            [/modify_unit]
            [clear_variable]
                name = xp_TMP[0].u_$unit.x|_$unit.underlying_id|
            [/clear_variable]
        [/event]
    [/event]
[/event]

# changes how XP are displayed
# the power meter has been removed (BMR v1.19.0) - now we just scale all XP using regular engine feature
## also, a "power meter" to show how artificially hardened the AI units are
# #define BMR_XP_STATUS_PANEL
[event]
    name=preload
    first_time_only=no
    [lua]
        code=<<
            local _ = wesnoth.textdomain "wesnoth-Bad_Moon_Rising"
            local old_unit_xp = wesnoth.interface.game_display.unit_xp
            function wesnoth.interface.game_display.unit_xp()
                local u = wesnoth.interface.get_displayed_unit()
                if not u then return {} end
                local x = old_unit_xp()
		if u.variables.total_xp then
                    local total_xp =  u.variables.total_xp + u.experience
                    local to_go_xp =  u.variables.total_xp + u.max_experience
                    total_xp = tonumber(total_xp)
                    table.insert(x, 1, { "element", {
                        text = string.format("<span color='#90b0e7' size='medium'> %d/%d </span>", total_xp, to_go_xp),
                        -- text = string.format("<span color='#90b0e7' size='small'> %d </span><span color='#a680d9' style='italic' size='small'>(-%d)</span>", total_xp, to_go_xp),
                        tooltip = _"total XP / XP needed to advance"
                    } })
                    table.remove(x,2)
                end
                return x
            end

        >>
    [/lua]
    [set_variable]
        name=bmr_xp_lua_tooltip
        value=fired
    [/set_variable]
[/event]
# #enddef
