#textdomain wesnoth-Bad_Moon_Rising
[scenario]
    id=1_01_Enough
    name= _ "Enough is Enough"
    map_data="{~add-ons/Bad_Moon_Rising/maps/1_01_Enough.map}"
    next_scenario="1_02_World"
    victory_when_enemies_defeated=yes
    {TURNS 22 18 14}

    [music]
        #        name="nunc_dimittis.ogg"
        name="loyalists.ogg"
    [/music]

    [story]
        [part]
            story= _ "Cantwell and Lorenzon led a small force to Gornath, a town to the northeast edge of Ukiah. Gornath was near the Northern Range, Mount Wynn was just visible on the horizon. Like most human settlements in the harsh north, Gornath was located above a volcanic fissure, where the heat from the ground thawed the thin soil, so that hardy crops could grow in the summer and the people could survive the dark winter."
            background="misc/BMRgornath.jpg"
        [/part]
        [part]
            story= _ "Gornath was a mining town; granite and metal ores were stripped from the ground in an open quarry. Work in the quarry was difficult and dangerous; most of the workers were young men. Their mothers, sisters, and wives resided in the sister city Korkath, where materials ranging from plant fiber to animal gut were made into cloth and cord."
            background="misc/BMRgornath.jpg"
        [/part]
        [part]
            story= _ "Orcs were a constant threat to both towns. Lorenzon himself had spent time in Gornath and knew that everyone was instructed to send word back to the capital in the event of an orcish attack. That Gornath and Korkath had simply gone silent was very suspicious..."
            background="misc/BMRgornath.jpg"
        [/part]
    [/story]

    {BMR_SUMMER}
    {BMR_INIT_LUA}

    [event]
        name=prestart
        {BMR_UNIT_HELP_MENU 1} # not that this really has any use here, but the player might as well get used to it.
        # make Duval give a hint about the menu below
        #        [music]
        #            name="loyalists.ogg"
        #            append=no
        #        [/music]
        [objectives]
            side=1
            [objective]
                condition=win
                description=_ "Defeat Officer Cantwell"
            [/objective]
            [objective]
                condition=lose
                description=_ "Death of Lorenzon"
            [/objective]
            [objective]
                condition=lose
                description=_ "Death of Duval"
            [/objective]
            note= _ "This is Summer in the Far North, there is no night until Autumn."
        [/objectives]
        [gear_item]
            x,y=9,16
            gear_id=leather_collar
        [/gear_item]
        [event]
            name=moveto
            [filter]
                side=1
                x,y=9,16
            [/filter]
            [message]
                speaker=narrator
                message=_"$unit.name| picked up a leather collar, which is a piece of armor for a dog.  Various items (usually some type of armor or weapon) can be picked up, dropped, bought, or sold.  Not every unit-type can use every item, but they can be carried in inventory.  The inventory, and some unit attributes, are visible via the context menu (usually the 'right-click menu'), when mouse pointer is over the unit."
            [/message]
        [/event]
        {MODIFY_UNIT (id=Officer Cantwell) facing sw}
        {MODIFY_UNIT (id=Lyle) facing se}
        {MODIFY_UNIT (id=Burgen) facing ne}
    [/event]

    [side]
        type=Lieutenant
        id=Lorenzon
        name="Lorenzon"
        #	profile="portraits/lorenzon.png"
        ellipse="misc/ellipse-hero"
        [modifications]
            {TRAIT_STRONG}
            {TRAIT_RESILIENT}
        [/modifications]
        unrenamable=yes
        side=1
        canrecruit=yes
        controller=human
        fog=no
        recruit=Peasant,Ruffian,Farm Dog
        {GOLD 62 48 32}
        team_name=good
        user_team_name=_"Rebel Ukians"
        [unit]
            type=Spearman
            id=Bellos
            name= _ "Patrolman Bellos"
            x=4
            y=16
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_STRONG}
            [/modifications]
            {IS_LOYAL}
#ifdef EASY
	    experience=16
#endif
#ifdef NORMAL
	    experience=8
#endif
        [/unit]
        [unit]
            type=Spearman
            id=Tach
            name= _ "Patrolman Tach"
            x=6
            y=16
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_RESILIENT}
            [/modifications]
            {IS_LOYAL}
#ifdef EASY
	    experience=16
#endif
#ifdef NORMAL
	    experience=8
#endif
        [/unit]
        [unit]
            type=Spearman
            id=Valos
            name= _ "Patrolman Valos"
            x=7
            y=18
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_RESILIENT}
            [/modifications]
            {IS_LOYAL}
#ifdef EASY
	    experience=16
#endif
#ifdef NORMAL
	    experience=8
#endif
        [/unit]
    [/side]

    [side]
        type=Lieutenant
        id=Officer Cantwell
        name= _ "Officer"+" Cantwell"
        profile="portraits/cantwell.png"
        side=2
        canrecruit=yes
        fog=no
#ifdef EASY
        [unit]
	    id=Horesman_1
            type=Royal Spotter
            x=15
            y=9
	    facing=sw
            [modifications]
                {TRAIT_QUICK}
                {TRAIT_RESILIENT}
            [/modifications]
        [/unit]
        recruit=Spearman
#endif
#ifdef NORMAL
        [unit]
	    id=Horesman_1
            type=Royal Herdsman
            x=15
            y=9
	    facing=sw
            [modifications]
                {TRAIT_QUICK}
                {TRAIT_RESILIENT}
            [/modifications]
        [/unit]
        recruit=Spearman, Bowman
#endif
#ifdef HARD
        [unit]
	    id=Horesman_1
            type=Royal Rider
            x=15
            y=9
	    facing=sw
            [modifications]
                {TRAIT_QUICK}
                {TRAIT_RESILIENT}
            [/modifications]
        [/unit]
        recruit=Spearman, Bowman, Cavalryman
#endif
        {GOLD 100 140 180}
        team_name=good
        user_team_name=_"Loyal Ukians"
        [ai]
            {BMR_AI_TARGET (id=Lorenzon) 90}
            {AI_SIMPLE_ALWAYS_ASPECT aggression 0.6}
            #	aggression=0.6
            #	grouping=offensive
        [/ai]
    [/side]

    [side]
        type=Peasant
        id=Burgen
        name="Burgen"
        side=3
        canrecruit=yes
        fog=no
        recruit=Ruffian
        {GOLD 32 16 8}
        team_name=good
        user_team_name=_"Rebel Ukian Peasants"
        [ai]
            {AI_SIMPLE_ALWAYS_ASPECT aggression 0.6}
            [goal]
		[criteria]
		    side=2
		[/criteria]
		value=5
	    [/goal]
            [goal]
		[criteria]
		    side=4
		[/criteria]
		value=1
	    [/goal]
            #	aggression=0.6
            #	grouping=offensive
        [/ai]
    [/side]

    [side]
        type=Thug
        id=Lyle
        name="Lyle"
        side=4
        canrecruit=yes
        fog=no
        recruit=Ruffian
        {GOLD 32 16 8}
        team_name=crazy
        user_team_name=_"Bellicose Rebel Peasants"
        [ai]
            {AI_SIMPLE_ALWAYS_ASPECT aggression 0.6}
            [goal]
		[criteria]
		    side=2
		[/criteria]
		value=20
	    [/goal]
            [goal]
		[criteria]
		    side=1
		[/criteria]
		value=2
	    [/goal]
            [goal]
		[criteria]
		    side=3
		[/criteria]
		value=1
	    [/goal]
            #	aggression=0.6
            #	grouping=offensive
        [/ai]
    [/side]

    {STARTING_VILLAGES 1 5}
    {STARTING_VILLAGES 2 5}
    {STARTING_VILLAGES 3 5}
    {STARTING_VILLAGES 4 5}
    [event]
        name=prestart
        [unit]
            id=Farmer1
            name= _ "Bellicose Farmer"
            type=Peasant
            side=4
            x=18
            y=2
            [modifications]
                {TRAIT_QUICK}
                {TRAIT_STRONG}
            [/modifications]
        [/unit]
        [unit]
            id=Farmer2
            name= _ "Angry Farmer"
            type=Peasant
            side=3
            x=9
            y=1
            [modifications]
                {TRAIT_QUICK}
                {TRAIT_RESILIENT}
            [/modifications]
        [/unit]
        [unit]
            id=Farmer3
            name= _ "Angry Farmer"
            type=Peasant
            side=3
            x=3
            y=19
            [modifications]
                {TRAIT_RESILIENT}
                {TRAIT_STRONG}
            [/modifications]
        [/unit]
        [unit]
            id=Farmer4
            name= _ "Bellicose Farmer"
            type=Peasant
            side=4
            x=14
            y=15
            [modifications]
                {TRAIT_RESILIENT}
                {TRAIT_QUICK}
            [/modifications]
        [/unit]
        [unit]
            id=Farmer5
            name= _ "Bellicose Farmer"
            type=Peasant
            side=4
            x=2
            y=2
            [modifications]
                {TRAIT_QUICK}
                {TRAIT_RESILIENT}
            [/modifications]
        [/unit]
        [unit]
            id=Farmer6
            name= _ "Angry Farmer"
            type=Peasant
            side=3
            x=5
            y=8
            [modifications]
                {TRAIT_QUICK}
                {TRAIT_RESILIENT}
            [/modifications]
        [/unit]
        [unit]
            id=Farmer7
            name= _ "Angry Farmer"
            type=Peasant
            side=3
            x=19
            y=10
            [modifications]
                {TRAIT_QUICK}
                {TRAIT_RESILIENT}
            [/modifications]
        [/unit]
        [unit]
            id=Hooligan1
            type=Footpad
            side=1
            x=7
            y=13
            [modifications]
                {TRAIT_QUICK}
                {TRAIT_RESILIENT}
            [/modifications]
        [/unit]
        [unit]
            id=Hooligan2
            name= _ "Rioter"
            type=Ruffian
            side=4
            x=11
            y=9
            [modifications]
                {TRAIT_QUICK}
                {TRAIT_RESILIENT}
            [/modifications]
        [/unit]
        [unit]
            id=Hooligan3
            name= _ "Rioter"
            type=Ruffian
            side=4
            x=12
            y=11
            [modifications]
                {TRAIT_QUICK}
                {TRAIT_RESILIENT}
            [/modifications]
        [/unit]
    [/event]

    [event]
        name=start
	[apply_gear]
	    id=Horesman_1
	    gear_id=scale_armor
	[/apply_gear]	    
	[apply_gear]
	    id=Bellos
	    gear_id=leather_armor
	[/apply_gear]	    
	[apply_gear]
	    id=Lorenzon
	    gear_id=leather_armor
	[/apply_gear]	    
	[apply_gear]
	    id=Lorenzon
	    gear_id=cap_helmet
	[/apply_gear]	    
	[apply_gear]
	    id=Valos
	    gear_id=wooden_shield
	[/apply_gear]	    
	[apply_gear]
	    id=Tach
	    gear_id=cap_helmet
	[/apply_gear]	    
        [message]
            speaker=Lorenzon
            message = _ "It looks like a riot."
        [/message]
        [message]
            speaker=Officer Cantwell
            message = _ "Hey! What's going on here?"
        [/message]
        [message]
            speaker=Lyle
            message = _ "Huric's days are numbered! We no longer need him to protect us from the orcs!"
        [/message]
        [message]
            speaker=Burgen
            message = _ "Lyle, you are a fool! Huric will kill us all - if the orcs don't get us first!"
        [/message]
        [message]
            speaker=Lorenzon
            message = _ "So you still pledge loyalty to the crown?"
        [/message]
        [message]
            speaker=Burgen
            message = _ "Absolutely! We dare not challenge his majesty, and are grateful for the protection he provides!"
        [/message]
        [message]
            speaker=Lyle
            message = _ "Hrumph, speak for yourself. Those of us with a spine will make sure Huric bothers us no more."
        [/message]
        [message]
            speaker=Officer Cantwell
            message = _ "And which one of them has a spine? We'll never get this straightened out, and we must not allow this rebellion to spread. Kill them all!"
        [/message]
        [message]
            speaker=Burgen
            message = _ "No! Wait! Lorenzon, please don't let this happen!"
        [/message]
        [message]
            speaker=Lorenzon
            message = _ "Cantwell, I was raised in this village and know many of these people. Stand down!"
        [/message]
        [message]
            speaker=Officer Cantwell
            message = _ "Huric gave me specific orders to do what was necessary. The orcish hordes are constantly crashing against our defenses, we cannot abide this treacherous rebellion! Innocents will die, sure, but many more will die if we allow this poison to spread!  Surely you understand this?"
        [/message]

        [move_unit_fake]
            type=Red Mage
            side=1
            x=20,12
            y=19,17
        [/move_unit_fake]
        [unit]
            type=Red Mage
            side=1
            id=Duval
            name= _ "Minister Duval"
            {IS_HERO}
            profile="portraits/duval.png"
            unrenamable=yes
            ellipse="misc/ellipse-hero"
            x=12
            y=17
            facing=sw
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_INTELLIGENT}
            [/modifications]
        [/unit]
        [apply_gear]
            id=Lyle
            gear_id=boot_cleat
        [/apply_gear]
        [apply_gear]
            id=Duval
            gear_id=mage_cloak
        [/apply_gear]
        [message]
            speaker=Duval
            message = _ "Officer Lorenzon! I am Minister - well, former Minister - Duval. I support your revolution!"
        [/message]
        [message]
            speaker=Lorenzon
            message = _ "Whoa! My what!?"
        [/message]
        [message]
            speaker=Officer Cantwell
            message = _ "Ghahh!  <i>What!?</i>  You planned this!?  Lorenzon, you are a <i>traitor!</i>  Soldiers of Ukiah, you are no longer under Lorenzon's command. Arrest him! And kill the others!"
        [/message]
	[modify_side]
	    side=2
	    team_name=bad
	[/modify_side]	    
        [message]
            speaker=Burgen
            message = _ "Officer Lorenzon, you are our only hope...  Though we are not soldiers, we are at your service.  Please, deliver us from this slaughter!"
        [/message]
        [message]
            speaker=Lorenzon
            message = _ "As I said, Farmer, I am a son of this land, and know the bravery of both the men and canines here.  We shall drive back this assault!"
        [/message]
        [message]
            speaker=narrator
	    image=wesnoth-icon.png
            message = _ "As a traitor, Lorenzon cannot call upon the military, aside from the defecting patrolmen.  However, he can recruit the rebel townsfolk and their dogs."
        [/message]
    [/event]

    [event]
	name=recruit
	[filter]
	    side=2
	    type=Spearman
	[/filter]
	[apply_gear]
	    id=$unit.id
	    gear_id=leather_gloves
	[/apply_gear]	    
    [/event]
	

    [event]
        name=die
        [filter]
            id=Lorenzon
        [/filter]
        [message]
            speaker=Officer Cantwell
            message= _ "THAT is what happens to traitors!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=die
        [filter]
            id=Duval
        [/filter]
        [message]
            speaker=unit
            message= _ "There was something I had to tell you..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=die
        [filter]
            id=Lyle
        [/filter]
        [message]
            speaker=Lorenzon
            message= _ "At least we put an end to his trouble-making..."
        [/message]
    [/event]

    [event]
        name=last_breath
        [filter]
            id=Officer Cantwell
        [/filter]
        [message]
            speaker=unit
            message= _ "I'd never expected this from you... Traitor..."
        [/message]
        [kill]
            id=Officer Cantwell
            animate=yes
        [/kill]
        [message]
            speaker=Lorenzon
            message= _ "He won't be the only one to call me that..."
        [/message]
        [message]
            speaker=Bellos
            message= _ "Some of us don't think you're a traitor, sir. I didn't want to kill these people."
        [/message]
        [message]
            speaker=Tach
            message= _ "I don't think you're a traitor, sir."
        [/message]
        [message]
            speaker=Valos
            message= _ "I don't think you're a traitor, sir."
        [/message]
        [message]
            speaker=Hooligan1
            message= _ "The cult is false hope, but Lorenzon's revolution is the real thing. Huric's days are indeed numbered! I'll go spread the good word!"
        [/message]
        {MOVE_UNIT (id=Hooligan1) 1 1}
        [kill]
            id=Hooligan1
        [/kill]
        [message]
            speaker=Lorenzon
            message= _ "I am no longer a royal officer. Tough times are ahead, we will need to revive the old methods that allowed us to survive in the past."
        [/message]
        # Lorenzon & Co  become Ukian, not loyalists
        {TRANSFORM_UNIT (id=Lorenzon) "Ukian Officer"}
        {TRANSFORM_UNIT (id=Bellos) "Ukian Regular"}
        {TRANSFORM_UNIT (id=Tach) "Ukian Runner"}
        {TRANSFORM_UNIT (id=Valos) "Ukian Regular"}
        {TRANSFORM_UNIT (
            side=1
            type=Spearman
        ) "Ukian Regular"}
        {TRANSFORM_UNIT (
            side=1
            type=Bowman
        ) "Ukian Regular"}
        {TRANSFORM_UNIT (
            side=1
            type=Thug
        ) "Ukian Runner"}
        {TRANSFORM_UNIT (
            side=1
            type=Footpad
        ) "Ukian Runner"}
        {TRANSFORM_UNIT (
            side=1
            type=Ruffian
        ) "Ukian Ruffian"}
        {TRANSFORM_UNIT (
            side=1
            type=Peasant
        ) "Ukian Peasant"}
        {TRANSFORM_UNIT (
            side=1
            type=Farm Dog
        ) "Ukian Dog"}

        [object]
            id=portry
            duration=forever
            silent=yes
            [filter]
                id=Lorenzon
            [/filter]
            [effect]
                apply_to=profile
                portrait=portraits/lorenzon.png
            [/effect]
        [/object]
        [message]
            speaker=Lorenzon
            message= _ "We can't stay here, let's go."
        [/message]
        [message]
            speaker=Duval
            message= _ "Yes, let's..."
        [/message]
        [set_variable]
            name=beenhere
            value=no
        [/set_variable]
	[disallow_recruit]
	    side=1
	    type=Peasant,Ruffian,Farm Dog
	[/disallow_recruit]
        [endlevel]
            result=victory
        [/endlevel]
    [/event]

    [event]
        name=time over
        [message]
            id=Officer Cantwell
            message= _ "Ah, reinforcements are here. It's over, traitors!"
        [/message]
        [message]
            id=Lorenzon
            message= _ "Arg! He's right, we're screwed!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
[/scenario]
