#textdomain wesnoth-Bad_Moon_Rising

# {BMR_CAMP_SCENARIO Lorenzon 2 1_02_World}

[scenario]
    id="1_02_World"
    name= _ "World Map - Ukiah"
    map_data="{~add-ons/Bad_Moon_Rising/maps/World.map}"
    next_scenario="1_03_Camp"
    victory_when_enemies_defeated=no
    turns=-1
    [music]
        name="breaking_the_chains.ogg"
    [/music]
    #        #Introduction
    #        {~add-ons/Bad_Moon_Rising/utils/rescue.cfg}

    #  The idea is you are in the eastern edge of the world map.
    #  You have a head start before Burton comes after you with Cavalry.
    #  If the Cavalry reaches you before you reach the forest, you lose.

    {BMR_SUMMER}
    {WORLDMAP}
    {BMR_MENU_CAMP Lorenzon 2}
    #    {BMR_MENU_CAMP Lorenzon Cavalry 2}

    [event]
        name=prestart
        [music]
            name="breaking_the_chains.ogg"
        [/music]
        [objectives]
            side=1
            [objective]
                condition=win
                description=_ "Flee to the forest west of Gornath."
            [/objective]
            #            [objective]
            #                condition=lose
            #                description=_ "Get attacked by the Cavalry."
            #            [/objective]
            note = _ "Huric's forces keep the roads clear, but enemies lurk off-road - especially in the forests."
        [/objectives]
        ### not sure this is needed anymore, should probably delete
        # this is to keep archers from showing up on the recruit list after a skirmish before Raenna has joined
        [if]
            [variable]
                name=beencp1
                equals=no
            [/variable]
            [then]
                [set_recruit]
                    side=1
                    recruit=Ukian Runner, Ukian Regular, Ukian Dog
                [/set_recruit]
            [/then]
        [/if]
        ###
        {BMR_MAP_STAGE 1}
        {BMR_SHOP_FLAG 96 7}
        # direct the player to Korkath if they haven't been there yet, otherwise direct them to the woods
        [if]
            [variable]
                name=beencp1
                equals=yes
            [/variable]
            [then]
                {SS_HINT 27 8}
            [/then]
            [else]
                {SS_HINT 87 13}
            [/else]
        [/if]
    [/event]

    [side]
        type=Lieutenant
        id=Lorenzon
        name= _ "Lorenzon"
        profile=portraits/lorenzon.png
        side=1
        canrecruit=yes
        controller=human
        fog=no
        recruit=Ukian Runner, Ukian Regular, Ukian Dog
        {GOLD 200 150 100}
        {INCOME 0 0 0}
        team_name=good
        suppress_end_turn_confirmation=yes
    [/side]

    [side]
        no_leader=yes
        #        type=General
        #        id=Burton
        #        name= _ "Burton"
        side=2
        #        canrecruit=yes
        fog=no
        #        recruit=
        #        {GOLD 100 150 200}
        team_name=bad
        {BMR_WORLDMAP_AI}
        #        [ai]
        #            {AI_SIMPLE_ALWAYS_ASPECT passive_leader yes}
        #            {AI_SIMPLE_ALWAYS_ASPECT caution 1.0}
        #	aggression=1.0
        #	grouping=offensive
        #	passive_leader=yes
        #	village_value=0
        #        [/ai]
    [/side]

    [event]
        name=prestart
        {BMR_WORLMAP_LURKER_AI}
        [if]
            [variable]
                name=beenhere
                equals=no
            [/variable]
            [then]
                [set_variable]
                    name=timesfought
                    value=0
                [/set_variable]
                [disallow_recruit]
                    type=Peasant,Ruffian,Farm Dog
                    side=1
                [/disallow_recruit]
                # 11-19-2012 : should this be moved out of the [if]?
                [unit]
                    side=2
                    type=Cavalryman
                    generate_name=yes
                    id=Cavalry
                    x,y=55,11
                [/unit]
                [unit]
                    side=2
                    type=Cavalryman
                    generate_name=yes
                    id=Cavalry_B
                    x,y=73,14
                [/unit]
            [/then]
        [/if]
    [/event]

    {MAP_INIT Lorenzon}
    {OFFROAD Lorenzon 1}
    #    {MAP_INIT Lorenzon Cavalry}
    #    {OFFROAD Lorenzon Cavalry 1}

    [event]
        name=start
        [if]
            [variable]
                name=intro_map
                equals=done
            [/variable]
            [else]
                [message]
                    speaker=narrator
                    message= _ "This map is the 'world map', the dimensions are much larger and certain locations lead to battle or event scenarios.  Special locations should usually have some sort of hint, such as a label or a small animation.  You will randomly encounter enemy scouts leading to short skirmishes that are useful for gaining experience between battles, but these can generally be avoided by staying on the path."
                    image=wesnoth-icon.png
                [/message]
                [item]
                    halo=misc/marching.png
                    x,y=92,7
                [/item]
                [message]
                    speaker=narrator
                    message= _ "While on this 'world map', you can choose which units will be with your leader in the skirmishes, for there is no recruiting or recalling in those skirmishes. You access this via the right-click menu entry 'Marching Formation'."
                    image=wesnoth-icon.png
                [/message]
                [remove_item]
                    x,y=92,7
                [/remove_item]
                [message]
                    speaker=narrator
                    message= _ "You should do that now."
                    image=wesnoth-icon.png
                [/message]
                [set_variable]
                    name=intro_map
                    value=done
                [/set_variable]
            [/else]
        [/if]
    [/event]

    [event]
        name=moveto
        [filter]
            id=Lorenzon
            x,y=96,7
        [/filter]
        [message]
            speaker=Lorenzon
            message= _ "We should not dally here, but maybe we can get some supplies."
        [/message]
        # does this fix Daniel12412341's bug?
        {XYSAVE2 Lorenzon hero}
        {XYSAVE3 2 other1}
        #
        [endlevel]
            #		result=continue
            {CONTINUE}
            replay_save=no
            next_scenario=2_Shop_0
        [/endlevel]
    [/event]

    [event]
        name=moveto
        [filter]
            id=Lorenzon
            x=82-88
        [/filter]
        [if]
            [variable]
                name=beencp1
                equals=no
            [/variable]
            [then]
                [if]
                    [variable]
                        name=02_rescue_hint
                        equals=yes
                    [/variable]
                    [else]
                        [message]
                            speaker=Lorenzon
                            message= _ "We should pay a visit to our sisters in Korkath.  They will not be spared the wrath of Huric, once he finds out about the death of Cantwell."
                        [/message]
                        [set_variable]
                            name=02_rescue_hint
                            value=yes
                        [/set_variable]
                    [/else]
                [/if]
            [/then]
        [/if]
    [/event]

    ### need to keep the player from wandering off.  This needs improvement
    [event]
        name=moveto
        first_time_only=no
        [filter]
            id=Lorenzon
            x=1-69
        [/filter]
        [message]
            speaker=Lorenzon
            message= _ "If a large Orcish force is attacking Fort Kuhle, it is unwise to keep wandering in this direction..."
        [/message]
    [/event]

    [event]
        name=moveto
        first_time_only=no
        [filter]
            id=Lorenzon
            y=22-75
        [/filter]
        [message]
            speaker=Lorenzon
            message= _ "We are headed straight for Huric. Let's turn back..."
        [/message]
    [/event]
    ###

    [event]
        name=moveto
        [filter]
            id=Lorenzon
            x=72-75
            y=6-11
        [/filter]
        [if]
            [variable]
                name=beencp1
                equals=yes
            [/variable]
            [then]
                [message]
                    speaker=Lorenzon
                    message= _ "The people are tired, we should set up camp here. I hope Huric's forces don't find us..."
                [/message]
                [set_variable]
                    name=beencp1
                    value=no
                [/set_variable]
                [set_variable]
                    name=beenhere
                    value=no
                [/set_variable]
                [endlevel]
                    #		result=continue
                    {CONTINUE}
                    replay_save=no
                [/endlevel]
            [/then]
            [else]
                [message]
                    speaker=Lorenzon
                    message= _ "We should pay a visit to our sisters in Korkath, they will not be spared the wrath of Huric."
                [/message]
            [/else]
        [/if]
    [/event]

    [event]
        name=moveto
        [filter]
            id=Lorenzon
            x,y=87,13
        [/filter]
        [if]
            [variable]
                name=beencp1
                equals=no
            [/variable]
            [then]
                [message]
                    speaker=Lorenzon
                    message= _ "Maybe we can st-  What have we here?"
                [/message]
                {XYSAVE2 Lorenzon hero}
                {XYSAVE3 2 other1}
                [set_variable]
                    name=beencp1
                    value=yes
                [/set_variable]
                [endlevel]
                    #		result=continue
                    {CONTINUE}
                    replay_save=no
                    next_scenario=1_02_Rescue
                [/endlevel]
            [/then]
            [else]
                [message]
                    speaker=Lorenzon
                    message= _ "We should not stay here, we need to head west."
                [/message]
            [/else]
        [/if]
    [/event]

    [event]
        name=die
        [filter]
            id=Lorenzon
        [/filter]
        [message]
            speaker=second_unit
            message= _ "Give my regards to Lieutenant Cantwell, traitor!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=die
        [filter]
            id=Duval
        [/filter]
        [message]
            speaker=unit
            message= _ "We had just started..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    #    {BMR_MAPKILL Burton Lorenzon}
    {BMR_MAP_BATTLE Lorenzon Cavalry (_"Uh!  The cavalry caught us...") battle_102}
    {BMR_MAP_BATTLE Lorenzon Cavalry_B (_"Uh!  The cavalry caught us...") battle_102}
    {BMR_DID_FLEE_BATTLE Lorenzon}

    #	[event]
    #	name=attack
    #		[filter]
    #		id=Cavalry
    #		[/filter]
    #		[message]
    #		speaker=unit
    #		message= _ "It's them! Charge!!"
    #		[/message]
    #		[message]
    #		id=unit
    #		[/message]
    #		[message]
    #		id=Lorenzon
    #		message= _ "(Gulp!)"
    #		[/message]
    #		[endlevel]
    #		result=defeat
    #		[/endlevel]
    #	[/event]
[/scenario]
