#textdomain wesnoth-Bad_Moon_Rising

[scenario]
    id="1_08_World"
    name= _ "World Map - Ukiah"
    map_data="{~add-ons/Bad_Moon_Rising/maps/World.map}"
    next_scenario="1_08_Rumble"
    victory_when_enemies_defeated=no
    turns=-1
    [music]
        name="breaking_the_chains.ogg"
    [/music]

    {BMR_SUMMER}
    {WORLDMAP}

    [event]
        name=prestart
        [music]
            name="breaking_the_chains.ogg"
        [/music]
        [objectives]
            side=1
            [objective]
                condition=win
                description=_ "Attack the Capital."
            [/objective]
            #			[objective]
            #			condition=lose
            #			description=_ "Get attacked by "
            #			[/objective]
        [/objectives]
        {BMR_SHOP_FLAG 52 14}
        {BMR_MAP_STAGE 4}
    [/event]

    [side]
        type=Lieutenant
        id=Lorenzon
        name= _ "Lorenzon"
        profile=portraits/lorenzon.png
        side=1
        canrecruit=yes
        controller=human
        fog=no
        recruit=Ukian Runner, Ukian Regular, Ukian Archer, Ukian Dog
        {GOLD 200 150 100}
        {INCOME 0 0 0}
        team_name=good
        suppress_end_turn_confirmation=yes
    [/side]

    [side]
        side=2
        fog=no
        team_name=bad
        no_leader=yes
        {BMR_WORLDMAP_AI}
    [/side]

    {ANIMATED_CAMPFIRE 75 32}
    [event]
        name=prestart
        {BMR_WORLMAP_LURKER_AI}
        [if]
            [variable]
                name=beenhere
                equals=no
            [/variable]
            [then]
                [set_variable]
                    name=timesfought
                    value=0
                [/set_variable]
                [unit]
                    side=2
                    type=Goblin Knight
                    generate_name=yes
                    id=Cavalry
                    x,y=97,65
                [/unit]
                [unit]
                    side=2
                    type=Goblin Knight
                    generate_name=yes
                    id=Cavalry_B
                    x,y=97,65
                [/unit]
                [store_unit]
                    [filter]
                        id=Lorenzon
                    [/filter]
                    variable=startposition
                    kill=yes
                [/store_unit]
                [set_variable]
                    name=startposition.x
                    value=50
                [/set_variable]
                [set_variable]
                    name=startposition.y
                    value=4
                [/set_variable]
                [unstore_unit]
                    variable=startposition
                [/unstore_unit]
                {CLEAR_VARIABLE startposition}
            [/then]
        [/if]
        {SS_HINT 76 31}
    [/event]

    {MAP_INIT Lorenzon}
    {OFFROAD Lorenzon 5}

    [event]
        name=moveto
        [filter]
            id=Lorenzon
            x=66-100
            y=1-17
        [/filter]
        [message]
            speaker=Lorenzon
            message= _ "There is no going back, we need to attack Huric."
        [/message]
    [/event]

    [event]
        name=moveto
        first_time_only=no
        [filter]
            id=Lorenzon
            y=45-75
        [/filter]
        [message]
            speaker=Lorenzon
            message= _ "We are wasting time. Let's turn back..."
        [/message]
    [/event]

    [event]
        name=moveto
        [filter]
            id=Lorenzon
            x=73-100
            y=28-35
        [/filter]
        [music]
            name="knalgan_theme.ogg"
            immediate=yes
            append=no
        [/music]
        [message]
            speaker=Lorenzon
            message= _ "All right, here we go..."
        [/message]
        [set_variable]
            name=beencp1
            value=no
        [/set_variable]
        [set_variable]
            name=beencp2
            value=no
        [/set_variable]
        [endlevel]
            #		result=continue
            music="knalgan_theme.ogg"
            replay_save=no
            {CONTINUE}
        [/endlevel]
    [/event]

    [event]
        name=moveto
        [filter]
            id=Lorenzon
            x,y=52,14
        [/filter]
        #	[if]
        #	[variable]
        #	name=beencp1
        #	equals=no
        #	[/variable]
        #	[then]
        [message]
            speaker=Lorenzon
            message= _ "We shouldn't be wasting time, but it wouldn't hurt to get the supplies we need."
        [/message]
        {XYSAVE2 Lorenzon hero}
        {XYSAVE3 2 other1}
        #	    [set_variable]
        #		name=beencp1
        #		value=yes
        #	    [/set_variable]
        [set_variable]
            name=list_id
            value=2
        [/set_variable]
        [endlevel]
            replay_save=no
            {CONTINUE}
            next_scenario=2_Shop_3
        [/endlevel]
        #	[/then]
        #	[/if]
    [/event]

    [event]
        name=moveto
        [filter]
            id=Lorenzon
            x,y=64,42
        [/filter]
        [if]
            [variable]
                name=beencp2
                equals=no
            [/variable]
            [then]
                [message]
                    speaker=Lorenzon
                    message= _ "Hello?  There doesn't seem to be anyone here..."
                [/message]
                {XYSAVE2 Lorenzon hero}
                {XYSAVE3 2 other1}
                [set_variable]
                    name=beencp2
                    value=yes
                [/set_variable]
                [endlevel]
                    replay_save=no
                    {CONTINUE}
                    next_scenario=2_Shop_3b
                [/endlevel]
            [/then]
        [/if]
    [/event]

    [event]
        name=moveto
        [filter]
            id=Lorenzon
            x,y=58,22
        [/filter]
        [if]
            [variable]
                name=beencp1
                equals=no
            [/variable]
            [then]
                [message]
                    speaker=Lorenzon
                    message= _ "Hello?  There doesn't seem to be anyone here..."
                [/message]
                {XYSAVE2 Lorenzon hero}
                {XYSAVE3 2 other1}
                [set_variable]
                    name=beencp1
                    value=yes
                [/set_variable]
                [endlevel]
                    replay_save=no
                    {CONTINUE}
                    next_scenario=2_Shop_3c
                [/endlevel]
            [/then]
        [/if]
    [/event]

    [event]
        name=moveto
        [filter]
            id=Lorenzon
            x,y=93,46
        [/filter]
        [if]
            [variable]
                name=IR_liberated
                equals=yes
            [/variable]
            [else]
                [message]
                    speaker=Lorenzon
                    message= _ "What is this..."
                [/message]
                {XYSAVE2 Lorenzon hero}
                {XYSAVE3 2 other1}
                [set_variable]
                    name=IR_liberated
                    value=yes
                [/set_variable]
                [endlevel]
                    replay_save=no
                    {CONTINUE}
                    next_scenario=1_08_Lighthouse
                [/endlevel]
            [/else]
        [/if]
    [/event]

    [event]
        name=moveto
        [filter]
            id=Lorenzon
            x,y=94,44
        [/filter]
        {XYSAVE2 Lorenzon hero}
        {XYSAVE3 2 other1}
        [endlevel]
            replay_save=no
            {CONTINUE}
            next_scenario=2_Shop_3d
        [/endlevel]
    [/event]

    [event]
        name=die
        [filter]
            id=Lorenzon
        [/filter]
        [message]
            speaker=second_unit
            message= _ "Hah! Squashed one!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=die
        [filter]
            id=Duval
        [/filter]
        [message]
            speaker=unit
            message= _ "We had just started..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    #    {BMR_MAPKILL Cavalry Lorenzon}
    {BMR_MAP_BATTLE Lorenzon Cavalry (_"Wolf Riders!  The Orcs are eager to move in...") battle_108}
    {BMR_MAP_BATTLE Lorenzon Cavalry_B (_"Wolf Riders!  The Orcs are eager to move in...") battle_108}
    {BMR_DID_FLEE_BATTLE Lorenzon}

    #	[event]
    #	name=attack
    #		[filter]
    #		id=Cavalry
    #		[/filter]
    #		[message]
    #		speaker=unit
    #		message= _ "We'd noticed your infighting, now we have you!"
    #		[/message]
    #		[message]
    #		id=Lorenzon
    #		message= _ "(Gulp!)"
    #		[/message]
    #		[endlevel]
    #		result=defeat
    #		[/endlevel]
    #	[/event]
[/scenario]
