#textdomain wesnoth-Bad_Moon_Rising
[scenario]
    id="1_10_Epilogue"
    name= _ "Epilogue"
    map_data="{~add-ons/Bad_Moon_Rising/maps/1_10_NewHomeB.map}"
    next_scenario=null
    victory_when_enemies_defeated=no
    {TURNS 3 3 3}
    [music]
        name="breaking_the_chains.ogg"
    [/music]

    {DAWN}

    [event]
        name=prestart
        [item]
            x=27
            y=30
            image="items/archery-target-right.png"
        [/item]
        [item]
            x=18
            y=32
            image="items/scarecrow.png"
        [/item]
        [item]
            x=18
            y=29
            image="items/straw-bale2.png"
        [/item]
        [item]
            x=18
            y=32
            image="items/straw-bale1.png"
        [/item]
        [item]
            x=33
            y=5
            image="items/orcish-flag.png"
        [/item]
        [item]
            x=7
            y=2
            image="items/bones.png"
        [/item]
        #############################################
        # for the carryover of ukians to part 3
        # inventory carryover added (20150613)
        [store_unit]
            [filter]
                side=1
            [/filter]
            variable=ukian_side
            kill=no
        [/store_unit]
        [set_variable]
            name=part2_over
            value=yes
        [/set_variable]

        [clear_global_variable]
            namespace=Bad_Moon_Rising
            global=ukians_carryover
            immediate=no
        [/clear_global_variable]
        [clear_global_variable]
            namespace=Bad_Moon_Rising
            global=gear_pool_carryover
            immediate=no
        [/clear_global_variable]

        [set_global_variable]
            namespace=Bad_Moon_Rising
            from_local=ukian_side
            to_global=ukians_carryover
        [/set_global_variable]
        [set_global_variable]
            namespace=Bad_Moon_Rising
            from_local=part2_over
            to_global=part2_over
        [/set_global_variable]
        [set_global_variable]
            namespace=Bad_Moon_Rising
            from_local=gear_pool_1
            to_global=gear_pool_carryover
        [/set_global_variable]
        {CLEAR_VARIABLE ukian_side}
        #############################################

        [recall]
            id=Raenna
            x,y=9,3
        [/recall]
        [recall]
            id=Belleros
            x,y=6,1
        [/recall]
        {TELEPORT_UNIT id=Lorenzon 22 26}
        {MODIFY_UNIT id=Lorenzon facing sw}
        {MODIFY_UNIT id=Raenna facing sw}
        {MODIFY_UNIT id=Belleros facing se}
    [/event]

    [side]
        type=Lieutenant
        id=Lorenzon
        name= _ "Lorenzon"
        side=1
        canrecruit=yes
        controller=human
        fog=no
        recruit=Ukian Runner, Ukian Regular, Ukian Archer, Ukian Dog
        {GOLD 250 200 150}
        {INCOME 8 6 4}
        team_name=good
    [/side]

    [side]
        type=Elvish Marshal
        side=2
        controller=null
        [unit]
            type=Elvish Marshal
            id=Valeron
            name= _ "Valeron"
            x,y=26,44
        [/unit]
    [/side]

    [event]
        name=start
        [message]
            speaker=Raenna
            message= _ "Seems the scout was right, Scarrion's remains were sprawled out on the ice."
        [/message]
        [message]
            speaker=Belleros
            message = _ "But the face was chewed off by wolves, are we sure it was Scarrion?"
        [/message]
        [message]
            speaker=Raenna
            message = _ "As sure as we can be. The outlandish clothing is surely-"
        [/message]
        [message]
            speaker=Valeron
            message = _ "Ha!"
        [/message]
        #        [music]
        #            name="traveling_minstrels.ogg"
        #	    immediate=yes
        #	    append=no
        #        [/music]
        [teleport]
            [filter]
                id=Belleros
            [/filter]
            animate=no
            x,y=18,19
        [/teleport]
        [teleport]
            [filter]
                id=Raenna
            [/filter]
            animate=no
            x,y=19,19
        [/teleport]
        {MOVE_UNIT (id=Valeron) 26 34}
        {MODIFY_UNIT (id=Lorenzon) facing se}
        {MODIFY_UNIT (id=Raenna) facing se}
        [message]
            speaker=Valeron
            message = _ "The orcs were not expecting such a battle! I doubt we'll see them again anytime soon."
        [/message]
        [message]
            speaker=Lorenzon
            message = _ "I hope that is true, Elf Leader. We should discuss our terms of settlement."
        [/message]
        [message]
            speaker=Valeron
            message = _ "Not much to discuss. You stay there on the northern plains and don't enter our forest. When times are tough, we may need some grain or leather. Similarly, when you need assistance, we can provide wood and some food. Just keep the orcs north of here, and we can assist your settlement."
        [/message]
        [message]
            speaker=Lorenzon
            message= _ "That sounds reasonable. Peace be with you."
        [/message]
        {MOVE_UNIT (id=Belleros) 22 21}
        [message]
            speaker=Belleros
            message = _ "So, this will be our home... I dare say, a man could get used to it..."
        [/message]
        [message]
            speaker=Raenna
            message = _ "Don't think we women will miss the frozen north either!"
        [/message]
        [message]
            speaker=Lorenzon
            message = _ "Right, I don't think anyone will miss the permafrost and dark winters."
        [/message]
        [message]
            speaker=Lorenzon
            message = _ "Ukiah was a great nation, but we will start one here just as great if not greater. Over time, we may re-establish contact with the kingdoms to the south."
        [/message]
        [music]
            name=triumph.ogg
            immediate=yes
            append=no
        [/music]
        [message]
            speaker=Lorenzon
            message = _ "But for now, we need to think about getting the seeds planted if we're to have any food in a few months..."
        [/message]
        [endlevel]
            #	result=continue
            #	result=continue_no_save
            {CONTINUE_NO_SAVE}
            end_text= _ "Continued in Part III"
        [/endlevel]
    [/event]
[/scenario]
