#textdomain wesnoth-Bad_Moon_Rising

[race]
    id=bmr_ghost
    male_name= _ "race^Ghost"
    female_name= _ "race+female^Ghost"
    plural_name= _ "race^Ghosts"
    help_taxonomy=undead
    num_traits=2
    {TRAIT_UNDEAD}
    description= _ "..."
    markov_chain_size=2
    {HUMAN_NAMES}
[/race]

# Include units WML directory
{~add-ons/Bad_Moon_Rising/units/ghosts}
{~add-ons/Bad_Moon_Rising/units/ukians}

[weapon_specials]
    {WEAPON_SPECIAL_ACCURACY 1}
    {WEAPON_SPECIAL_ACCURACY 2}
    {WEAPON_SPECIAL_ACCURACY 3}
    {WEAPON_SPECIAL_ACCURACY 4}
    {WEAPON_SPECIAL_ACCURACY 5}
    {WEAPON_SPECIAL_ACCURACY 6}
    {WEAPON_SPECIAL_ACCURACY 7}
    {WEAPON_SPECIAL_ACCURACY 8}
    {WEAPON_SPECIAL_ACCURACY 9}
    {WEAPON_SPECIAL_ACCURACY 10}
    {WEAPON_SPECIAL_ACCURACY 11}
    {WEAPON_SPECIAL_ACCURACY 12}
    {WEAPON_SPECIAL_ACCURACY 13}
    {WEAPON_SPECIAL_ACCURACY 14}
    {WEAPON_SPECIAL_ACCURACY 15}
    {WEAPON_SPECIAL_ACCURACY 16}
    {WEAPON_SPECIAL_ACCURACY 17}
    {WEAPON_SPECIAL_ACCURACY 18}
    {WEAPON_SPECIAL_ACCURACY 19}
    {WEAPON_SPECIAL_ACCURACY 20}
[/weapon_specials]
