#textdomain wesnoth-Bad_Moon_Rising

[unit_type]
    id=Hostage Taker
    name= _ "Lieutenant"
    race=human
    image="units/hostage_taker.png"
    [leading_anim]
        [frame]
            begin=-150
            end=150
            image="units/hostage_taker.png"
        [/frame]
    [/leading_anim]
    [movement_anim]
        [frame]
            begin=0
            end=150
            image="units/hostage_taker-move.png"
        [/frame]
    [/movement_anim]

    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=48
    movement_type=smallfoot
    movement=5
    experience=80
    level=2
    alignment=lawful
    advances_to=null
    profile=portraits/hostage.png
    hide_help=yes
    {AMLA_DEFAULT}
    cost=35
    usage=fighter
    description= _ "Trained at swords and crossbows, Lieutenants lead small groups of human soldiers, coordinating their attacks."+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}
    die_sound={SOUND_LIST:HUMAN_DIE}
    #    {DEFENSE_ANIM_RANGE "units/human-loyalists/lieutenant-defend.png" "units/human-loyalists/lieutenant.png" {SOUND_LIST:HUMAN_HIT} melee}
    #    {DEFENSE_ANIM_RANGE "units/human-loyalists/lieutenant-crossbow-defend.png" "units/human-loyalists/lieutenant-crossbow.png" {SOUND_LIST:HUMAN_HIT} ranged}
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_2}
    [/abilities]
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=9
        number=3
    [/attack]
    # what happened here, there is no image...
#ifdef __UNUSED__
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            duration=100
            image="units/hostage_taker-idle-1.png"
        [/frame]
        [frame]
            duration=100
            image="units/hostage_taker-idle-2.png"
        [/frame]
        [frame]
            duration=100
            image="units/hostage_taker-idle-3.png"
        [/frame]
        [frame]
            duration=100
            image="units/hostage_taker-idle-4.png"
        [/frame]
        [frame]
            duration=100
            image="units/hostage_taker-idle-5.png"
        [/frame]
        [frame]
            duration=100
            image="units/hostage_taker-idle-6.png"
        [/frame]
    [/idle_anim]
#endif

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-225
            end=-175
            image="units/hostage_taker.png"
        [/frame]
        [frame]
            begin=-175
            end=-100
            image="units/hostage_taker-sword-1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/hostage_taker-sword-2.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/hostage_taker-sword-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=50
            end=150
            image="units/hostage_taker-sword-3.png"
        [/frame]
    [/attack_anim]

    # #define HOSTAGE_DIES WEAPON

    [event]
        name=attacker_misses
        [filter_second]
            type=Hostage Taker
        [/filter_second]
        [filter_attack]
            range=melee
        [/filter_attack]
        [message]
            speaker=second_unit
            message= _ "I told you I'd do it, now she dies!"
        [/message]
        [kill]
            id=$second_unit.id
        [/kill]
        [unit]
            x,y=$x2,$y2
            side=2
            type=Lieutenant
            facing=$second_unit.facing
        [/unit]
        #	[store_unit]
        #	    [filter]
        #		id=$second_unit.id
        #	    [/filter]
        #		kill=yes
        #		variable=bmr_ht
        #	[/store_unit]
        #	[unstore_unit]
        #	    variable=bmr_ht
        #	    find_vacant=no
        #	[/unstore_unit]
        [set_variable]
            name=bmr_ht_missed
            value=yes
        [/set_variable]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    # #enddef

    # why did I make this this complicated?  Was there a reason?
    #	{HOSTAGE_DIES sword}
    #	{HOSTAGE_DIES axe}
    #	{HOSTAGE_DIES dagger}
    #	{HOSTAGE_DIES staff}
    #	{HOSTAGE_DIES spear}
[/unit_type]
